name: test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  LOG_LEVEL: debug

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@896a64e67cffe8e684feb8011a77d9ab3f6cbe85 # v3.15.0
        with:
          save-cache: true

      - run: pnpm prettier

  preset:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: ghcr.io/renovatebot/renovate:42.93.1@sha256:3f4d362d0a8902163bee625220c924cfaffa0558f8b6974fe3fcaf58d39f63bb
      # github hosted runners are running as `1001:127` (ubuntu:docker)
      options: -u 1001:0 --group-add 1000 --group-add 12021 --group-add 127

    strategy:
      matrix:
        file:
          - default
          - renovate-config
          - merge-queue

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: testing ${{ matrix.file }}
        run: renovate-config-validator --no-global ${{ matrix.file }}.json

  preset-success:
    runs-on: ubuntu-latest
    needs:
      - lint
      - preset
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled presets
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'cancelled'
        run: exit 1
      - name: Fail for failed or cancelled lint
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1
