name: test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  LOG_LEVEL: debug

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@ac2d21e9667686230ec7c2d94aa98eb0e56be3d6 # v3.14.36
        with:
          save-cache: true

      - run: pnpm prettier

  preset:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container:
      image: ghcr.io/renovatebot/renovate:42.64.1@sha256:e09f71019881fff15f397560d979736c6c6fd712f790fdb0a75697a324ee965a
      # github hosted runners are running as `1001:127` (ubuntu:docker)
      options: -u 1001:0 --group-add 1000 --group-add 12021 --group-add 127

    strategy:
      matrix:
        file:
          - default
          - renovate-config
          - merge-queue

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: testing ${{ matrix.file }}
        run: renovate-config-validator ${{ matrix.file }}.json

  preset-success:
    runs-on: ubuntu-latest
    needs:
      - lint
      - preset
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled presets
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'cancelled'
        run: exit 1
      - name: Fail for failed or cancelled lint
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1
